obj*
craftos-tweaked
/.vs
/Debug
/packages
x86
x64
ARM64
CraftOS-Tweaked*.app
/autoscan.log
/Makefile - Copy
/autom4te.cache
/CraftOS-Tweaked
/CraftOS-Tweaked-CCT-Edition
/CraftOS-Tweaked.xcodeproj
/ccemux.*
.vscode/c_cpp_properties.json
codesign
CraftOS-Tweaked.code-workspace
Makefile
config.log
config.status
CraftOS-Tweaked*.dmg
.DS_Store
example_peripheral.dylib
craftos-tweaked.html*
craftos-tweaked.wa*
craftos-tweaked.*js
CraftOS-Tweaked.html
*.dSYM
/src/lua51.lib
a.out*
*.mem
index.html
*.obj
*.exe
raw_frame_reader
src/fs_standalone.cpp
*.vcxproj.user
*.aps
include_arm
vcpkg_installed
/ignored.txt
*.dylib
*.so
*.bundleroms/*/fs_standalone.cpp
computercraft/
craftos-tweaked.json
*~
